# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
dist-electron/

#Storage
.gardenia_data/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Build
*.log

#PDF

gardenia_report.pdf

#latex

gardenia_report.tex
